body {
  background-color: hsl(0, 0%, 8%);
  overflow: hidden;
}
#container {
  height: 97vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main {
  background-color: hsl(0, 0%, 12%);
  height: 470px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  row-gap: 1em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
img {
  margin: 20px auto 4px auto;
  height: 70px;
  width: 70px;
  border-radius: 100%;
}
.links {
  align-self: center;
  padding: 1em;
  background-color: hsl(0, 0%, 20%);
  width: 70%;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 500;
}
.links:hover {
  font-weight: 700;
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: black;
}
.para {
  font-weight: 300;
  font-size: 11px;
}
#jessica {
  font-weight: 500;
  font-size: 20px;
}
#london {
  font-weight: 600;
  font-size: 11px;
  margin-top: 10px;
  color: hsl(75, 94%, 57%);
}
